NodeRedFlow.js
[{"id":"70bb51d9.36fd7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"90b72cb9.a576b","type":"mqtt in","z":"70bb51d9.36fd7","name":"","topic":"AccelX","qos":"2","broker":"2f70a0d2.a0ff7","x":149,"y":62,"wires":[["2caa73c6.f4668c","6b2455db.5dd54c"]]},{"id":"4b196317.f1353c","type":"mqtt in","z":"70bb51d9.36fd7","name":"","topic":"AccelY","qos":"2","broker":"2f70a0d2.a0ff7","x":212,"y":142,"wires":[["d878dabf.c44648","6b2455db.5dd54c"]]},{"id":"9121d6b9.db3b48","type":"mqtt in","z":"70bb51d9.36fd7","name":"","topic":"AccelZ","qos":"2","broker":"2f70a0d2.a0ff7","x":118,"y":225,"wires":[["9d9c16d2.ffefc8","6b2455db.5dd54c"]]},{"id":"d5454e1f.25e7c","type":"mqtt in","z":"70bb51d9.36fd7","name":"","topic":"RotateX","qos":"2","broker":"2f70a0d2.a0ff7","x":103,"y":319,"wires":[["445e5804.310f18","6b2455db.5dd54c"]]},{"id":"e936435a.bcbdb","type":"mqtt in","z":"70bb51d9.36fd7","name":"","topic":"RotateY","qos":"2","broker":"2f70a0d2.a0ff7","x":72,"y":435,"wires":[["d3579215.5808d","6b2455db.5dd54c"]]},{"id":"ca6d5386.ca764","type":"mqtt in","z":"70bb51d9.36fd7","name":"","topic":"RotateZ","qos":"2","broker":"2f70a0d2.a0ff7","x":245,"y":439,"wires":[["2821f222.561f7e","6b2455db.5dd54c"]]},{"id":"2caa73c6.f4668c","type":"ui_gauge","z":"70bb51d9.36fd7","name":"","group":"41966ddc.701f44","order":1,"width":0,"height":0,"gtype":"compass","title":"X","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":155,"y":20,"wires":[]},{"id":"d878dabf.c44648","type":"ui_gauge","z":"70bb51d9.36fd7","name":"","group":"214bf69f.fbceca","order":1,"width":0,"height":0,"gtype":"compass","title":"Y","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":210,"y":101,"wires":[]},{"id":"9d9c16d2.ffefc8","type":"ui_gauge","z":"70bb51d9.36fd7","name":"","group":"15c53cc2.e75d93","order":1,"width":0,"height":0,"gtype":"compass","title":"Z","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":106,"y":175,"wires":[]},{"id":"445e5804.310f18","type":"ui_gauge","z":"70bb51d9.36fd7","name":"","group":"41966ddc.701f44","order":2,"width":0,"height":0,"gtype":"wave","title":"X Rotate","label":"units","format":"{{value}}","min":0,"max":"65536","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":125,"y":274,"wires":[]},{"id":"d3579215.5808d","type":"ui_gauge","z":"70bb51d9.36fd7","name":"","group":"214bf69f.fbceca","order":2,"width":0,"height":0,"gtype":"wave","title":"Y Rotate","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":101,"y":389,"wires":[]},{"id":"2821f222.561f7e","type":"ui_gauge","z":"70bb51d9.36fd7","name":"","group":"15c53cc2.e75d93","order":2,"width":0,"height":0,"gtype":"wave","title":"Z Rotate","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":220,"y":504,"wires":[]},{"id":"a32d75a0.856d38","type":"json","z":"70bb51d9.36fd7","name":"","property":"payload","action":"","pretty":false,"x":602,"y":181,"wires":[["8a10a1e5.28817","f246da29.c51b48"]]},{"id":"8a10a1e5.28817","type":"debug","z":"70bb51d9.36fd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":641,"y":118,"wires":[]},{"id":"6b2455db.5dd54c","type":"join","z":"70bb51d9.36fd7","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"6","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":482,"y":182,"wires":[["a32d75a0.856d38"]]},{"id":"f246da29.c51b48","type":"e-mail","z":"70bb51d9.36fd7","server":"smtp.gmail.com","port":"465","secure":true,"name":"EmailID","dname":"","x":676,"y":232,"wires":[]},{"id":"171b3d70.b15b43","type":"inject","z":"70bb51d9.36fd7","name":"Alignment Parameters","topic":"Your Alignment Parameters","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"60","x":416,"y":39,"wires":[["6b2455db.5dd54c"]]},{"id":"2f70a0d2.a0ff7","type":"mqtt-broker","z":"","name":"iot.eclipse.org","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"5","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"41966ddc.701f44","type":"ui_group","z":"","name":"X Axis","tab":"65f4b922.5ef4a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"214bf69f.fbceca","type":"ui_group","z":"","name":"Y Axis","tab":"65f4b922.5ef4a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"15c53cc2.e75d93","type":"ui_group","z":"","name":"Z Axis","tab":"65f4b922.5ef4a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"65f4b922.5ef4a8","type":"ui_tab","z":"","name":"X","icon":"dashboard","order":2}]
